/* Global Elements */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* base styles */

body {
    background: #E6E2ED;
    font-family: 'Cutive Mono', monospace;
    font-size: 1.2em;
}

h1 {
    font-family: 'Marcellus', serif;
    font-size: 1.25em;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: #565566;
}

h2 {
    font-family: 'Marcellus', serif;
    font-size: 1em;
    letter-spacing: 0.3rem;
    color: #565566;
}

.section-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 3em;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #565566;
    font-size: 1rem;
    cursor: pointer;
}

/* navbar */

.navbar {
    position: fixed;
    display: flex;
    justify-content: center;
    font-family: 'Catamaran', sans-serif;
    letter-spacing: 0.5rem;
    width: 100%;
    background-color:#E6E2ED;
    padding: 10px 0;
}

.nav-list {
    display: flex;
}

.nav-link {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

/* welcome section */

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-top: 15%;
    width: 100%;
    height: 100vh;

    background-image: url(imgs/poppies.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

@media (max-height: 500px){
    .welcome-section {
        padding-top: 35px;
    }
}

/* .welcome-section > h1 {
    font-family: 'Marcellus', serif;
    font-size: 1.25em;
    letter-spacing: 0.8rem;
    text-transform: uppercase;
    color: #565566;
} */

.welcome-section > p {
    font-family: 'Marcellus', serif;
    font-size: 1.1em;
    letter-spacing: .25rem;
    color: #565566;

}

@media (max-width: 340px){
    .welcome-section > h1 {
        font-size: 1em;
        letter-spacing: .5rem;
    }

    .welcome-section > p {
        font-size: .8em;
    }
}

/* projects section */

.projects {
    padding: 7rem 2rem 10em 2em;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 4rem;
    width: 100%;
}

    /* Project Card */

.project-card {
    border-radius: .5rem;
    position: relative;
}

.project-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: .5rem;
  }

.content {
    padding: 0;
    color: black;
    text-align: center;
    line-height: 1.5;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}

.content > h4 {
    font-family: 'Marcellus', serif;
    font-size: 1rem;
    letter-spacing: .15rem;
}

.content > hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin: 10px 0 15px 0;
}

.content > p {
    font-family: 'Cutive Mono', monospace;
    font-size: 0.95rem;
    letter-spacing: 0.07rem;
}

    /* Card Hover Overlay effect */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    color: white;
}

.project-card:hover .overlay {
    opacity: 1;
    transition: 1s ease;

}

 .project-card:hover .project-image {
    opacity: 0.1;
    transition: 1s ease;
  }
  
  /* skills section */

  .skills {
      background-color: white;
      padding: 4rem 7rem 7rem 7rem
  }

  .skills-grid {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 4rem;
      width: 100%;
  }

  .skills-grid > .skills-item {
      text-align: center;
  }

  .skills-grid > .skills-item > h5 {
    font-size: 1.1rem;
    margin-bottom: 10px;
  }

  .skills-item-1 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
  }

  .skills-item-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skills-item-3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.skills-item-4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.skills-item-5 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}


  /* contact section */